body {
    font-family: 'Baskervville', serif;
}

header {
    /* font-family: 'Raleway', sans-serif; */
    background: url(../images/blue.jpg);
    background-size: cover;
    background-position: center;
    min-height: 800px;
    padding: 1em 2em;
    font-size: 18px;
}
  
  .header-title {
    font-weight: 200;
    margin: 0.4em 0;
    font-size: 3.5em;
    padding-top: 50px;
  }

  .head-wrapper p {
      font-size: 45px;
  }


#side-image {
    height: 230px;
    width: 170px;
    padding-top: 20px;
    /* margin: 0 auto; */
    position: relative;
    left: 60px;
    border-radius: 50%;
}

.sidenav li:hover {
    background-color: #8fcaed;
}

.section {
    padding-top: 4vw;
    padding-bottom: 4vw;
}

.section-title {
    color: #044368;
    padding-bottom: 3vw;
}

.bio-image {
    height: 100%;
    width: 100%;
}

.service-offering, .contact-wrapper {
    padding-top: 3vw;
    padding-bottom: 3vw;
}

.project-wrapper {
    background: #044368;
    background-size: cover;
}

#project-section {
    height: 700px;
}

#work, .project-title {
    color: #fff;
}

.project-header {
    display: flex;
}

.project-title {
    width: 90%;
}

.project-icon {
    width: 10%;
}

.carousel {
    perspective: 200px;
}
.carousel .carousel-item {
    width: 400px;
    height: 300px;
}

.project-image {
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 670px){
    header {
        min-height: 500px;
    }
}